{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "rules": {
        "indent": ["error", 2],
        "no-param-reassign": ["error", { "props": false }]
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
